* {
    padding: 0;
    margin: 0;
    color: #f0f1f1;
    box-sizing: border-box;
    font-family: Arial;
}

.header,
.main{
    background-color: #1b1f23;
    z-index: 2;
}

.header span {
    color: #6aae3e;
}

.input-options label {
    cursor: pointer;
}

.input-options input[type=radio] {
    accent-color: #6aae3e;
}

.input-options input[type=radio]:not(:checked) + label {
    color: #f0f1f1;
}

.input-options input[type=radio]:checked + label {
    color: #6aae3e;
}

.input-text input:not(:focus) {
    color: #f0f1f1;
}

.btn-dependencies,
.btns-footer {
    border: 2px #f0f1f1 solid;
    background-color: #1b1f23;
    outline: none;
    padding-block: 2.5%;
    padding-inline: 2%;
    border-radius: 5%;
    width: max-content;
    font-weight: bold;
}

.container-btns {
    position: relative;
    background-color: #262a2d;
    position: fixed;
    align-items: center;
}

.btns-footer {
    position: relative;
    margin-top: 2%;
    left: 22%;
}

@media (max-width: 600px) {
    .container-header {
        display: flex;
        padding-top: 5%;
        padding-bottom: 4%;
        margin-left: 5%;
    }
    .header {
        border-bottom: 1px solid #f0f1f1;
    }
    .header img {
        height: 45px;
        width: 45px;
        margin-right: 2%;
    }
    .header h1 {
        display: block;
        font-size: 18px;
        letter-spacing: -1px;
    }
    .header h1 div {
        letter-spacing: 1px;
    }
    .main {
        padding-top: 1%;
        padding-left: 3%;
        position: static;
    }
    .label-input,
    .title-container {
        font-size: large;
        font-weight: bold;
        margin-bottom: 1%;
        padding-top: 3%;
    }
    .inline-content {
        display: flex;
    }
    .input-options {
        margin-right: 10%;
        margin-bottom: 2%;
    }
    .label-input-text {
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .input-text input[type=text]  {
        border: none;
        outline: none;
        background-color: #1b1f23;
        font-size: medium;
        width: 97%;
        cursor: text;
    }
    .input-text input:focus  + .borde-label{
        border-bottom: 3px solid #6aae3e;
    }
    .borde-label {
        border-bottom: 3px solid #f0f1f1;
        width: 97%;
        cursor: text;
        margin-top: 2%;
    }
    .container-dependecies {
        margin-top: 5%;
        height: 200px;
    }
    .btn-dependencies {
        position: absolute;
        left: 82%;
    }
    .border-bottom {
        margin: 3% 4% 0 auto;
        border-bottom: 0.5px #404649 solid;
        width: 97%;
        position: relative;
    }
    .container-btns {
        height: 60px;
        width: 100%;
        bottom: 0%;
    }
}