* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #fff;
}

body {
    background-color: #1b1f23;
}

/* Estilização do header */
#header-container {
    width: 85%;
    height: 140px;
    margin-inline: 2%;;
    left: 5.5%;
    display: flex;
    position: relative;
    background-color: #1b1f23;
    border-bottom: 1px solid #52555a;
}

#header-container img{
    margin-top: 42px;
    width: 53px;
    height: 53px;
}

#header-container h1 {
    margin-top: 47px;
    margin-left: 10px;
    font-size: 35px;
    letter-spacing: 1px;
}

#part-green {
    color: #5d9639;
    letter-spacing: -2px;
}

/* Estilização dos barras laterais */
#container-border-left,
#container-border-rigth {
    top: 0;
    position: fixed;
    width: 5%;
    height: 100%;
    background-color: #1b1f23;;
}

#container-border-left {
    border-right: 1px solid #52555a;
}

#container-border-left a  {
    text-decoration: none;
}

#container-border-rigth {
    right: 0;
    border-left: 1px solid #52555a;
}

#history-icon,
#github-icon {
    width: 35px;
    height: 35px;
    position: absolute;
}

#lines-icon {
    top: 15px;
    left: 25px;
    width: 23px;
    height: 23px;
    position: absolute;
}

#line {
    top: 56px;
    left: 22px;
    width: 30px;
    position: absolute;
    border-bottom: 1px solid #52555a;
}

#history-icon {
    top: 70px;
    left: 20px;
}

#github-icon {
    bottom: 20px;
    left: 20px;
}

/* Estilização do main */
#main-container {
    margin-top: 35px;
    display: flex;
    width: 85%;
    height: 680px;
    margin-inline: 2%;
    left: 5.5%;
    position: relative;
}

#section-form,
#section-dependencies {
    width: 50%;
}

/* Estilização da sessão do formulário */
#section-form {
    border-right: 1px solid #52555a;
}

#form-container {
    width: max-content;
    position: relative;
    display: block;
}

#inline-container {
    display: flex;
}

.input-radio {
    position: relative;
    flex-wrap: wrap;
    position: relative;
    display: inline;
}

.input-radio input {
    display: none;
}

.input-radio label {
    margin-right: 15px;
    margin-bottom: 7px;
}

#input-language {
    margin-left: 75px;
}

#input-version {
    margin-top: 20px;
    margin-bottom: 30px;
}

#input-java {
    margin-bottom: 15px;
}

.title-input {
    font-weight: bold;
    font-family: 16px;
    margin-bottom: 10px;
}


.radio {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border: 2px solid #fff;
    display: inline-flex;
    border-radius: 50%;
}

.input-radio input:checked + label{
    color: #65af37;
}

.input-radio input:checked + label .radio {
    background-color: #65af37;
    border: none;
}

.input-text {
    color: #fff;
    display: flex;
    justify-content: right;
    width: 525px;
}

.input-text label {
    text-align: right;
    position: relative;
    margin-right: 15px;
    margin-bottom: 30px;
}

.input-text input {
    border: none;
    background-color: #1b1f23;
    outline: none;
    border-bottom: 3px solid #fff;
    width: 400px;
    position: relative;
    margin-bottom: 30px;
    transition: 0.3s;
}

.input-text input:focus {
    border-color: #5d9639;
}

/* Estilização da sessão das dependências */
#section-dependencies {
    margin-left: 2%;
}

/* Estilização do footer */
#footer-container {
    position: fixed;
    height: 90px;
    width: 90%;
    right: 5%;
    bottom: 0;
    background-color: #262a2d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-btns ul {
    list-style: none;
}

.footer-btns a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 10px;
    padding: 10px 18px;
    font-size: 16px;
    background-color: #1b1f23;
    transition: 0.3s;
}

.footer-btns a:hover{
    color: #000;
    background-color: #fff;
}

.bold {
    font-weight: bold;
}

.text-floating {
    margin-left: 6px;
}